extends layout

block content
  .flexBox
    .infoBox
      h3
        | Prozessor
        #cpu_status.status
      .cpuChart
        canvas#cpuChart_chartcanvas
      #load.text
        | 1 Min.: 0.00 - 5 Min.: 0.00 - 15 Min.: 0.00
        br
        |                 Nutzer: 0% - Hintergrund: 0% - System: 0% - Leerlauf: 100%
    .infoBox
      h3
        | Festplattenspeicher
        #hdd_status.status
      #hdd
        .ladebalken
        .text
          | Gesammt: 0.00 KB - Belegt: 0.00 KB - Frei: 0.00 KB
    .infoBox
      h3
        | Arbeitsspeicher
        #ram_status.status
      .ramChart
        canvas#ramChart_chartcanvas
      #ram.text
        | Gesammt: 0.00 KB - Belegt: 0.00 KB - Frei: 0.00 KB
    .infoBox
      h3
        | Docker Container
        #container_status.status
      #containers
    .infoBox
      h3
        | Gesamt Netzwerk
        #eth_status.status
      #eth
        .text
          table
            tr
              th
              th Gesammt
              th Gestern
              th Heute
              th Ltz. Stunde
            tr
              td
                b Eingehend
              td 0.00 KB
              td 0.0 KB
              td 0.00 KB
              td 0.00 KB
            tr
              td
                b Ausgehend
              td 0.00 KB
              td 0.00 KB
              td 0.00 KB
              td 0.00 KB
          br
          | Durchschn. Auslastung: 0.00 KB/Sek. (0.00%)
    .infoBox
      h3
        | VPN
        #vpn_status.status
      #vpn
        .text
          table
            tr
              th
              th Gesammt
              th Gestern
              th Heute
              th Ltz. Stunde
            tr
              td
                b Eingehend
              td 0.00 KB
              td 0.0 KB
              td 0.00 KB
              td 0.00 KB
            tr
              td
                b Ausgehend
              td 0.00 KB
              td 0.00 KB
              td 0.00 KB
              td 0.00 KB
    .infoBox
      h3
        | Software Versionen
        #sw_status.status
      #software
        .text Debian &#x25CF; Apache &#x25CF; PHP &#x25CF; MySQL &#x25CF; OpenSSL &#x25CF; Nextcloud
    .infoBox
      h3
        | Uptime
        #ut_status.status
      #uptime
        .text 0 Minuten 0 Sekunden
