doctype html
html
  head
    meta(charset='utf-8')
    title Server Info
    meta(name='author' content='Thomas Middelveld')
    meta(name='copyright' content='Copyright by Thomas Middelveld - All rights reserved.')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    script(type='application/javascript' src='/javascripts/vendor/moment.min.js' defer='')
    script(type='application/javascript' src='/javascripts/vendor/Chart.min.js' defer='')
    script(type='application/javascript' src='/javascripts/main.min.js' defer='')

    link(rel='stylesheet' href='/stylesheets/style.min.css')
  body
    block content